<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Payments</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; }
        th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>Payments</h1>
    <table>
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Booking ID</th>
                <th>Amount</th>
                <th>Payment Mode</th>
                <th>Details</th>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment._id }}</td>
                <td>{{ payment.bookingID }}</td>
                <td>{{ payment.Amount }}</td>
                <td>{{ payment.PaymentMode }}</td>
                <td>{{ payment.Details.accountNumber if payment.Details.accountNumber }} {{ payment.Details.routingNumber if payment.Details.routingNumber }}</td>
                <td>{{ payment.Status }}</td>
                <td>{{ payment.Date }}</td>
                <td>{{ payment.Time }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <br>
    <a class="btn" href="{{ url_for('supervisor_dashboard') }}">Back to Dashboard</a>

</body>
</html>
